.footer-master-cont{
     /* background-image: url('/images/Rectangle 10.png');
    background-position:center ;
    background-size: cover; */
    margin-top:40px;
    display: flex;
    flex-direction: column;
   justify-content: center; 
    max-width: 1280px;
    margin:auto 0;
}

.footer-cont{
   
    
  margin-left: auto; 
  margin-right: auto;
    padding: 1rem;
width:100%;
padding-top: 70px;
padding-bottom:60px;
display: flex;
gap:5rem;
flex-direction: row;
justify-content:space-between;
}
.foot-img-div{
    margin:0px;
}
.cine-img{
   margin-bottom: 15px;

}
.foot-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:1rem
}

.foot-img-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0px;

    margin-top: -20px;
}
.foot-left-cont{
    margin-top: -20px;
}
.inside-cont{
    margin-top: 10px;
    
    color: #9ca3af;
font-size: 1rem;
line-height: 1.75rem;
    font-weight: 400;

}
.foot-right-cont {
    display: flex;
    width: 50%;
    flex-direction: row;
    margin-top: -24px;
    gap: 90px;
}
.foot-right{
    display: flex;
    width:60%;
    flex-direction: column;
    gap: 20px;
}

.foot-right-heading{
    font-size: 20px;
    font-weight: 700;
    color: #60A5FA;
}


.footer-links{
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.footer-links:hover{
    color: #34D399;
}

@media  (max-width: 767px){
    .footer-cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .foot-left{
        width: 100%;
    }
    .foot-right-cont{
        width: 100%;
    }
}