

.CartItems-container
{
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
    
}

.cartData-head{
    font-size: 36px;
    font-weight: 800;
      color:#ddd;
}
.cartDataPara{
    font-size: 20px;
    color: #ddd;
}


.CartItems-master-cont{
    display:flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin-bottom: 30px;
    max-width: 1440px;
   
    
}

.CartItems-submaster-cont{
    display:flex;
    flex-direction: column;
    width:70%;
}

.CartDataPriceContainer{
    display: flex;
    flex-direction: column;
    width:25%;
    padding:10px;
  
    background: #eee;

}

.Data-paraCont{
    font-weight: 800;
    font-size: 16px;
   
}

.adjustPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tableheadContent{
    border:1px solid black

}

.tablecontainer{
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cartData-head{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cartDataPara{
    margin-bottom: 20px;
}

.headofCart{
    border: 2px solid #ddd;
    background-color:#f5f5f5 ;
}

.headinsideCart{
    border: 2px solid #ddd;
    background-color: aliceblue;
}

.thtags{
     border: 2px solid #ddd;
     padding: 10px;
     font-weight: 500;
}

.thtagshead{
    padding: 10px;
}

.summ-price{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.cruse-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap:5px;
    padding-bottom: 8px;
border-bottom: 2px solid grey;
}

.red{
    color: red;
}

.subscrip{
    border:2px solid purple;
    border-radius: 36px;
}

@media (max-width:950px){
    .CartItems-master-cont{
        flex-direction: column;
    }
    .CartItems-submaster-cont{
        width: 100%;
    }
    .CartDataPriceContainer{
        width: 35%;
    }
}

@media (max-width:767px){

.thtags{
    padding:4px;
    font-size: 13px;
}
.thtagshead{
    padding: 5px;
}

}

@media (max-width:550px){

    .thtags{
        font-size: 10px;
        padding: 0;
    }
    .cartData-head{
        font-size: 25px;
    }
    .CartItems-master-cont{
        width: 95%;
        margin-left: 2px;
        margin-right: 2px;
        
    }
    .thtagshead{
        font-size: 9px;
    }
    .summ-price{
        font-size: 15px;
    }
    .adjustPrice{
        font-size: 17px;
    }
    .cruse-data{
        font-size: 7px;
    }
    .CartDataPriceContainer {
   width: 60%;
        }
        .Subscribe-btton{
            font-size: 12px;
            padding:0px;
            margin: auto;
        }
        .CartItems-master-cont{
            width: 98%;
        }
}

