.sign-up-image{
    position: relative;
}

.dropdown-cont{
    position: absolute;
    right: 0px;
    top:70px;
    background: #ffffff;
    padding: 5px;
    z-index: 2000;
    width:100px;
    border:2px solid  purple;
    border-radius: 4px;
     background:#162f72;
     box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.15),
  0 8px 20px rgba(0, 0, 0, 0.25);
 
}

.dropdown-mega-cont {
   position: fixed;         
   inset:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background: transparent; 
  z-index: 1500;
   max-width: 1280px;
   margin: 0 auto;
               
}

.nav-conten{
    margin:0;
    padding:3px;
    color:#eee;
    border-bottom: 2px solid grey;
    text-align: center;
      
}


/* SideBarMenu */

.sidebarMenuCont{
    position: fixed;
  right:0;
  left:0;
  bottom:0;
  top:-9px;
  
    width:100%;
    height: 100%;
    z-index: 900;
    justify-content: flex-start;
    background: transparent;
    max-width: 1400px;
   margin: 0 auto;

}

.sidebarmastercont{
      position: relative;
    left: 0px;
    top:80px;
    height: 100vh;
    background: #ffffff;
    padding: 5px;
    /* z-index: 2000; */
    width:25%;
    border-radius: 4px;
     background:#162f72;
     box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.15),
  0 8px 20px rgba(0, 0, 0, 0.25);
}

.image{
    position: relative;
}

.ri-arrow-left-down-box-fill{
    font-size: 35px;
   padding-top: 12px;
}
.responsive-sidebar-contact{
   margin-top: 6px;
   display: none;
}
.sidebarlinkcontent{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap:1rem
}
.responsive-sidebar-contact{
    cursor: pointer;
}


.ri-menu-line{
   cursor: pointer;
}
.SidebarLink{
    color: #eee;
    text-decoration: none;
    padding:1rem 2rem ;
    font-size: 19px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.SidebarLink:hover{
    background: #ffffff;
    color: #162f72;

}

@media  (max-width: 767px){
    .sidebarmastercont{
        width: 35%;
    }
    .SidebarLink{
        padding: 0.5rem 1rem;
    }
}


@media  (max-width: 767px){
     .SidebarLink{
        font-size: 15px;
     }
     .responsive-sidebar-contact{
        display: block;
     }

     .Navbar-Buttons{
        display: none;
     }
}

